/* .canvas { */
/*   margin: auto; */
/*   border: 2px solid grey; */
/* } */

svg {
  background: #eee;
  border: 2px solid black;
}

.canvas > g {
  transform: scaleY(-1) translate(0, -100%);
  /* scaleY(-1); */
}

/* text of svg should be re-flip to normal */
/* Note use of selector between g and canvas : a g that descends directly from canva */
/*   nothing (space selector) between g and text : a text that descends (depthly) from g  */
.canvas > g text {
  transform: scaleY(-1);
}

.area {
  fill: #88a8af;
  /* background-color: #88a8af; */
}

.agent {
  fill: gold;
  stroke-width: 0.1;
  stroke: black;
  transition: fill 1s ease;
}

.landmark_true_group {
  stroke: none;
  fill: #694c39;
}
.landmark_true_group:hover {
  stroke-width: 0.2;
  stroke: darkseagreen;
}

/* .agent:hover { */
/*   fill: indigo; */
/*   cursor: pointer; */
/* } */

/* test */
.agent_true_group polygon:hover {
  fill: lightblue;
  cursor: pointer;
}

.agent_true_group line {
  stroke-width: 0.3;
  stroke: yellow;
}

/* any descendant polygon of those */
.agent_true_group polygon {
  stroke: black;
  stroke-width: 0.1;
  fill: silver;
}

.agent_true_group#r1 polygon,
.agent_true_group#r1 line {
  stroke: red;
}
.agent_true_group#r2 polygon,
.agent_true_group#r2 line {
  stroke: green;
}
.agent_true_group#r3 polygon,
.agent_true_group#r3 line {
  stroke: blue;
}

/* specialization for the selected agent */
.agent_true_group.selected polygon {
  fill: goldenrod;
}
.agent_true_group.selected .sensor {
  opacity: 0.2;
}

.agent_true_group .sensor {
  fill: #b8e5ef;
  opacity: 0.1;
}
.agent_true_group#r1 .sensor {
  fill: red;
}
.agent_true_group#r2 .sensor {
  fill: green;
}
.agent_true_group#r3 .sensor {
  fill: blue;
}

/* graph test: TODO: remove */
.vertex circle {
  fill: #e3e3e3;
  stroke: black;
  stroke-width: 0.1;
}
.vertex text {
  font-family: Monospace;
  cursor: default;
  opacity: 1;
}
.vertex circle:hover {
  fill: orange;
  stroke: black;
  stroke-width: 0.1;
}
.vertex ellipse {
  /* covariance */
  fill: #ece281;
  opacity: 0.4;
  transition: opacity 1s ease;
  display: none;
}

.factor line {
  stroke: black;
  stroke-width: 0.15;
  opacity: 1;
}
.factor circle {
  fill: black;
  opacity: 1;
}

.factor circle:hover {
  stroke-width: 0.5;
  stroke: orange;
}

div.tooltip {
  position: absolute;
  text-align: center;
  /* width: 60px; */
  /* height: 28px; */
  font-family: Monospace;
  font: 0.8rem;
  padding: 0.2em 0.5em;
  background: white;
  border: 2px solid silver;
  border-radius: 25%;
  transform: translateX(-50%) translateY(-110%);
}
/* CSS overrides attr, but won't override style. That's what tripped me up. */
