/* .canvas { */
/*   margin: auto; */
/*   border: 2px solid grey; */
/* } */

svg {
  background: lightgrey;
  border: 2px solid black;
}

.canvas > g {
  transform: scaleY(-1) translate(0, -100%);
  /* scaleY(-1); */
}

/* text of svg should be re-flip to normal */
/* Note use of selector between g and canvas : a g that descends directly from canva */
/*   nothing (space selector) between g and text : a text that descends (depthly) from g  */
.canvas > g text {
  transform: scaleY(-1);
}

.area {
  fill: #88a8af;
  /* background-color: #88a8af; */
}

.agent {
  fill: gold;
  stroke-width: 0.1;
  stroke: black;
  transition: fill 1s ease;
}

.landmark {
  stroke-width: 0.1;
  stroke: white;
  fill: #18306d;
}

.agent:hover {
  fill: indigo;
  cursor: pointer;
}
